{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html>

{% block title %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
{% endblock %}

{% block body %}
  {% block navbar %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li role="presentation" class="active"><a href="{{url_for('main.index')}}">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('main.login') }}">Login</a></li>
          {% endif %}
          <li><a href="{{ url_for('main.signup') }}">Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  <div class="container">
    <div class="row">
    {% block content %}{% endblock %}
    </div>
  </div>
{% block modal %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% endblock %}
</html>