<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <!-- 页面head -->
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" charset="utf8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {% endblock %}
</head>

<body>
  <!-- 页面body块 -->
  {% block body %}

    <!-- 页面导航 -->
    {% block header %}
      {% include 'header.html' %}
    {% endblock %}

    <!-- 页面content -->
    <div id="container" class="container blog-container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      <div class="row">
      {% block content %}{% endblock %}
      </div>
    </div>

    <!-- 页脚 -->
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}

  {% endblock %}

  <!-- javascript脚本 -->
  {% block scripts %}
  {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.js')) }}
  {{ moment.lang('zh-cn') }}
  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  {% endblock %}

</body>

</html>