<div id="footer" class="footer">
    <div class="footer-container">
      <span><i class="fa fa-copyright"> 2017 fanchunke.me, all rights reserved</i></span>
        <div class="contact">
            <a href="https://github.com/fanchunke1991" target="_blank"><span class="github"><i class="fa fa-github fa-2x"></i></span></a>
            <span class="wechat"><i class="fa fa-wechat fa-2x"></i></span>
            <a href="http://weibo.com/u/1733482805" target="_blank"><span class="weibo"><i class="fa fa-weibo fa-2x"></i></span></a>
        </div>     
    </div> 
</div>