<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li role="presentation">
          <a href="{{url_for('blog.index')}}">首页</a></li>
        <li role="presentation">
          <a href="{{url_for('blog.categories')}}">分类</a></li>
        <li role="presentation">
          <a href="{{url_for('blog.articles')}}">文章</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('profile.home', username='admin') }}">个人主页</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('admin.index') }}">后台管理</a></li>
          <li><a href="{{ url_for('main.logout') }}">退出</a></li>
        {% else %}
          <!-- <li><a href="{{ url_for('main.login') }}">登录</a></li> -->
        {% endif %}
      </ul>
    </div>
  </div>
</nav>