{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Hello, {{ current_user.username }}!</h1>
{% endif %}
<form id="target" action="">
  <input type="text" value="Hello there" />
  <input type="submit" value="Go" />
</form>
<div id="other">
  Trigger the handler
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#target').submit(function() {
          alert('Handler for .submit() called.');
          return false;
        });
        function handler(event) {
            alert(event.data.foo);
        }
        $('#other').bind('click', {foo:'bar'}, handler);
    })
</script>
{% endblock %}
