{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
      {% endwith %}
      <h1>Sign Up</h1>
      {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}