{% extends 'base.html' %}

{% block title %} 编辑个人资料 {% endblock %}

{% block content %}
<div class="card">
    <div class="profileHeader-header">
        <div class="UserCoverEditor">
            <div class="UserCover">
                {% if profile.cover is none %}
                <img class="UserCover-image" src="{{ url_for('static', filename='img/cover.jpg') }}" alt="默认封面">
                {% else %}
                <img class="UserCover-image" src="{{ profile.cover }}" alt="用户封面">
                {% endif %}
            </div>
        </div>        
    </div>
    <div class="profileHeader-main">
        <div class="userAvatarEditor profileHeader-avatar" style="top: -57px;">
            <div class="UserAvatar">
            {% set user_avatar = current_user.avatar %}
            {% if user_avatar is none %}
            <img class="Avatar Avatar--large UserAvatar-inner" src="{{url_for('static', filename='img/avatar.png')}}" style="width: 160px; ">
            {% else %}
            <img class="Avatar Avatar--large UserAvatar-inner" src="{{user_avatar}}" style="width: 160px; ">
            {% endif %}
            </div>
        </div>
        <div class="profileHeader-content">
            <div class="profileHeader-contentHead">
                <h1 class="profileHeader-title">
                    <span class="profileHeader-name">
                    {% if profile.nickname %}
                    {{profile.nickname}}
                    {% else %}
                    {{current_user.username}}
                    {% endif %}
                    </span>
                </h1>
            </div>
            <div class="profileEdit-fields">
                <form class="Field">
                    <h3 class="Field-label">昵称</h3>
                    <div class="Field-content">
                        {% if profile.nickname %}
                        <span class="Field-text">{{ profile.nickname }}</span>
                        {% endif %}
                        <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button"><i class="fa fa-pencil"></i> 修改</button>
                    </div>
                </form>
                <form class="Field">
                    <h3 class="Field-label">性别</h3>
                    <div class="Field-content">
                        {% if profile.gender %}
                        <span class="Field-text">{{ profile.gender }}</span>
                        {% endif %}
                        <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button"><i class="fa fa-pencil"></i> 修改</button>
                    </div>
                </form>
                <form class="Field">
                    <h3 class="Field-label">居住地</h3>
                    <div class="Field-content">
                        {% if profile.address %}
                        <span class="Field-text">{{ profile.address }}</span>
                        {% endif %}
                        <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button"><i class="fa fa-pencil"></i> 修改</button>
                    </div>
                </form>
                <form class="Field">
                    <h3 class="Field-label">个人简介</h3>
                    <div class="Field-content">
                        {% if profile.discription %}
                        <span class="Field-text">{{ profile.discription }}</span>
                        {% endif %}
                        <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button"><i class="fa fa-pencil"></i> 修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var username = '{{current_user.username }}' ;
</script>
<script src="{{url_for('static', filename='js/edit_profile.js')}}"></script>
{% endblock %}