{% extends 'base.html' %}

{% block title %} 编辑个人资料 {% endblock %}

{% block content %}
<div class="card">
    <div class="profileHeader-header">
        <div class="userCoverEditor">
            <div class="userCoverGuide">
                
            </div>
            <div class="userCover userCover--colorBlock"></div>
            <input type="file" accept="image/png,image/jpeg" style="display: none;">
        </div>        
    </div>
    <div class="profileHeader-main">
        <div  class="userAvatarEditor profileHeader-avatar" style="top: -57px;">
            <div class="UserAvatar">
                <img class="Avatar Avatar--large UserAvatar-inner" src="{{url_for('static', filename='avatar.png')}}" style="width: 160px; height: 160px;">
            </div>
        </div>
        <div class="profileHeader-content">
            <div class="profileHeader-contentHead">
                <h1 class="profileHeader-title">
                    <span class="profileHeader-name">
                    {% if profile.nickname %}
                    {{profile.nickname}}
                    {% else %}
                    {{current_user.username}}
                    {% endif %}
                    </span>
                </h1>
            </div>
            <div class="profileEdit-fields">
                <form class="Field">
                    <h3 class="Field-label">性别</h3>
                    <div class="Field-content gender">
                        <!-- <div> -->
                        {% if profile.gender %}
                        <span class="Field-text">{{ profile.gender }}</span>
                        {% endif %}
                        <button id="editGender" class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                        <!-- </div> -->
                    </div>
                </form>
                <form class="Field">
                    <h3 class="Field-label">居住地</h3>
                    <div class="Field-content address">
                        {% if profile.address %}
                        <span id="address" class="Field-text">{{ profile.address }}</span>
                        {% endif %}
                        <button id="editAddress" class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                    </div>
                </form>
                <form class="Field">
                    <h3 class="Field-label">简介</h3>
                    <div class="Field-content">
                        {% if profile.discription %}
                        <span class="Field-text">{{ profile.discription }}</span>
                        {% endif %}
                        <button id="editDiscription" class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var user_id = {{current_user.id}};
</script>
<script src="{{url_for('static', filename='js/edit_profile.js')}}"></script>
{% endblock %}