{% extends 'base.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}

{% import 'blog/article_macro.html' as article_macro %}
<div class="article">
    <header class="article-header">
        <h2 class="article-title" itemprop="name headline">{{ article.title }}</h2>
        {{ article_macro.article_meta(article, moment, current_user) }}
    </header>
    <div class="article-detail article-body">
        {{ article.body | safe }}
    </div>
</div>
<br />

<div class="comment-list">
    {{ article_macro.comment(article, moment, comments) }}
</div>
    
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/comment.js') }}"></script>
{% endblock %}
