{% extends 'base.html' %}

{% block  title %} 文章归档 {% endblock %}

{% block content %}

{% if articles %}
<div class="primary-head">
    <h2 class="normal-head">归档</h2>
    {% if article_num != 0 %}
    <span>共有{{ article_num }}篇文章，继续努力！</span>
    {% else %}
    <span>暂时还没有文章</span>
    {% endif %}
</div>
<div id="article-list">
{% for article in articles %}
    <ul>
        <li style="opacity: 1;display: block;transform: translateY(0px);" class="articles-collapse primary-body"><a href="{{ url_for('blog.article', id=article.id) }}">{{ article.title }}</a></li>
    </ul>
{% endfor %}
</div>
{% else %}
<h1>暂时没有文章</h1>
{% endif %}
{% endblock %}
