{% extends 'base.html' %}

{% block  title %} 文章分类 {% endblock %}

{% block content %}

{% if categories %}
<div class="primary-head">
    <h2 class="normal-head">分类</h2>
    {% if category_num != 0 %}
    <span>共有{{ category_num }}个分类</span>
    {% else %}
    <span>目前还没有分类！</span>
    {% endif %}
</div>
<div id="category-list">
<ul>
{% for category in categories %}
    <li style="opacity: 1;display: block;transform: translateY(0px);" class="articles-collapse primary-body"><a href="{{ url_for('blog.category', id=category.id) }}">{{ category.name }}<span class="badge">{{ category.articles.count() }}</span></a></li>
{% endfor %}
</ul>
</div>
{% else %}
<h1>暂时没有分类</h1>
{% endif %}
{% endblock %}
