{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div id="article-list" class="article-list">
{% if articles %}
{% import 'blog/article_macro.html' as article_macro %}
    <ul class="article-post">
    {% for article in articles %}
        <li id="article{{ article.id }}" class="article-post">
            <div class="article-header">
                <h2 class="article-title" itemprop="name headline">{{ article.title }}</h2>
                {{ article_macro.article_meta(article, moment, current_user) }}
            </div>
            <div class="article-body">
                {{ article.body|safe|truncate(100) }}
            </div>
            <div class="article-footer">
                <span style="color: #555"><a href="{{ url_for('blog.article', id=article.id)}}">阅读全文</a></span>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h2>暂时没有文章</h2>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
