{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf  %}

{% block title %}Home{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Hello, {{ current_user.username }}!</h1>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% if articles %}
<div class="article">
{% for article in articles %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
{% endfor %}
{% else %}
    <p>No articles</p>
</div>
{% endif %}
{% endblock %}
