{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf  %}

{% block title %}Home{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Hello, {{ current_user.username }}!</h1>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<br>
<div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
{% if articles %}
<h2>Articles in my blog</h2>
<div class="article">
<table class="table table-borded table-hover table-condensed">
    <thead>
    <tr>
        <th>title</th>
        <th>user</th>
        <th>pub_time</th>
        <th>likes</th>
        <th>edit/delete</th>
    </tr>
</thead>
<tbody>
    {% for article in articles %}
    <tr>
        <th>{{ article.title }}</th>
        <th>{{ article.user }}</th>
        <th>{{ article.pub_time }}</th>
        <th>{{ article.like_num }}</th>
        <th>
            <span><a href="#"> Edit</a></span>
            <span><a href="#"> Delete</a></span>
        </th>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% else %}
    <p>No articles</p>
{% endif %}
{% endblock %}
