<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Login</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }}
    {{form.password.label}} {{form.password()}}
    {{form.submit()}}
</form>
</body>
</html>